body {
    background: var(--crema); /*crema*/
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--nero); /*nero*/
}

nav ul li a {
    color: var(--pietra);
    text-decoration: none; /*rimuovi sottolineatura link*/
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.main-goldtext {
    font-size: 9px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: var(--oro);
    margin-bottom: 24px;
}

.main h1 {
	font-family: 'Georgia', serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 24px;
}

.main p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--pietra);
    margin-bottom: 48px;
}

.main-explore{
    color: var(--nero);
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--nero);
    width: fit-content;
}

.oro {
    color: var(--oro);
}