@charset "UTF-8";
.profilo-page-bg{
	min-height: 100vh;
	margin:0;
	padding:0;
	display: flex;
	flex-direction: column;
	background: var(--crema);
	box-sizing: border-box;
	padding-top: 80px; /*circa l'altezza della navbar*/
	
}

.profilo{
	position: absolute;
	padding: 3.5rem, 2rem, 2.5rem, 8px;
	border-bottom: 0.5px solid var(--argilla-chiara) /*linea sottile che divide le sezioni*/
	
}
.utente-titolo{
	font-size: 0.75rem;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: var(--oro);
	margin-bottom: 1rem;
	
}
.utente-intestazione{
	font-family: 'Georgia', serif;
	font-size: 52px;
	font-weight: 300;
	color: var(--nero);
	 margin: 0 0 0.5rem 0;
    line-height: 1.05;
    
}
.utente-informazioni{
	font-size: 0.75rem;
	letter-spacing: 0.2rem;
	color: var(--pietra);
	font-weight: 300;
}
